
/* Globals */
* {
	font-weight: normal;
	position: relative;
	letter-spacing: .25px;
}
body, html {
	margin: 0;
	height: 100%;
}

body {
	font-family: 'Bitstream Vera Sans', 'DejaVu Sans', 'BitstreamVeraSans', 'DejaVuSans', 'Open Sans', sans-serif;
	line-height: 170%;
	background: rgb(44,58,59);
	background: linear-gradient(90deg, rgb(40,68,40), rgb(47,47,78));
}

body > div {
	background: transparent url(terran_computational_calendar_background.png) repeat-y center -66px; /*-795px;*/
}


/* Definition of HTML5 & non-existant tags */
header, footer, section { display: block; }
dropdown, droplabel, specs, definition, term { display: inline; }
dropdown { display: none; }
date, unit, number { display: inline-block; }
clear, .clear { display: block; clear:both; }
ib, .ib { display: inline-block; }
nowrap, .nowrap {  white-space: nowrap; }
b { display: inline; font-weight: bold; }

.highlight {
	background: radial-gradient(rgb(255,255,255) 20%, rgba(236,221,191,0));
}


/* Shorthand Classes */
.center { text-align: center; }
.none { display: none; }
.right { text-align: right; }
.autocenter { margin-left: auto; margin-right: auto; }
.mono { font-family: monospace; }
.no_margin { margin: 0; }
.tar { text-align: right; }
.tal { text-align: left; }


/* Font Sizes */
.smaller, specs, .specs { font-size: 12px; }
.small { font-size: 14px; }
body, .normal, h4 { font-size: 16px; }
.normal { font-size: 16px !important; }
.big, h3 { font-size: 19px; }
.bigger, h2 { font-size: 24px; }
.biggest, h1 { font-size: 32px; }

/* Colors */
.grey {
	color: rgb(128,128,128);
}
.color_h {
	color: rgb(184,70,0);
}
.color_h4 {
	color: rgb(109,41,0);
}

/* Columns Header & Footer */
header {
	text-align: center;
	position: fixed;
	z-index: 2;
	width: 100%;
}
header > div {
	z-index: 4;
	background: rgb(78,47,28);
	background: rgba(78,47,28,0.9);
	border-radius: 0 0 20px 20px / 0 0 100% 100%;
	box-shadow: 3px 3px 7px 1px rgb(0,0,0);
}
header > div > div {
	background: none;
	background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.7));
	border-radius: 0 0 20px 20px / 0 0 100% 100%;
}

#drop {
	z-index: 2;
	background: rgb(44,58,59);
	background: rgba(44,58,59,0.9);
	margin: 0 20px;
	max-height: 100%;
	overflow: auto;
	overflow-x: hidden;
	color: rgb(0,0,0)}

#drop > div {
	background: none;
	background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.7));
}

#drop > div > div{
	display: none;
	padding: 2% 0 0 2%;
}

.drop_close {
	display: none;
	margin: 0 auto !important;
	background: rgb(44,58,59);
	background: rgba(44,58,59,0.9);
	color: rgb(236,221,191);
	z-index: 1;
	cursor: pointer;
	font-weight: bold;
}
#drop_close_top {
	position: absolute;
	right: 20px;
	z-index: 3;
}

footer {
	padding-bottom: 40px;
}

.highlight_arrow { font-size: 32px; color: red; }


.header_link {
	color: rgb(236,221,191);
}
.header_link:hover {
	color: rgb(255,255,255);
}

h1, #header_right {
	vertical-align: middle;
	display: inline-block;
	padding: 7px 1% 8px 1%;
}

#header_right {
	float: right;

	padding-top: 6px;
	padding-bottom: 0;
}


/* Headers */
h2, h3, h4 {
	margin: 0;
	color: rgb(184,70,0);
}
h1 {
	display: inline-block;
	line-height: 80%;
}
h1 a {
	color: rgb(230,88,0);
}
h2 div{
	display: inline-block;
}
h2{
	margin-bottom: 9px;
	text-align: center;
}
h3 {
	display: inline-block;

}
h4 {
	display: inline-block;
	margin-right: 12px;
	line-height: 100%;
	color: rgb(109,41,0);
	border-bottom: 1px solid rgb(109,41,0);
	border-bottom: 1px solid rgba(109,41,0,0.4);
}

h4.color_h {
	border-bottom: 1px solid rgb(184,70,0);
	border-bottom: 1px solid rgba(184,70,0,0.4);
}



.header_link, h1 {
	margin: 4px 7px;
}
h1 {
	margin-top: 2px;
}
.header_link {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	line-height: 50%;
	font-size: 18px;
	cursor: pointer;
}

#small_left, #small_right {
	position: absolute;
	top: 25%;
	z-index: 0;
	opacity: .75;
}
#small_left {
	left: 0;
}
#small_right {
	right: 0;
}

column > section, column > section > section, #Introduction > div{
	z-index: 1;
	/*box-shadow: 4px 4px 3px 3px rgba(0,0,0,0.4);*/
	background: rgb(215,202,174);
	background: rgba(236,221,191,0.912);
	padding: 2%;
	border-radius: 2% 2% 2% 2% / 100% 100% 100% 100%;
}
column > section > section {
	background: rgb(236,221,191);
}

column {
	width: 48%;
	margin: 0 1%;
	float: left;
	display: block;
}
column.center {
	width: 98%;
	float: none;
}
column.footer {
	text-align: center;
	margin: 30px 1%;
}

column.footer ib a { z-index: 1;}
column.footer ib > img { z-index: 0; top: 0; left: 0; position: absolute; display:none;}

/* Shadow and Color */
body {
	color: rgb(0,0,0);
}
a, .pointer {
	text-decoration: none;
	cursor: pointer;
	color: rgb(10,10,110);
}

a.internal  {
	color: rgb(10,93,10);
}
a.internal_drop  {
	color: rgb(15,64,64);
}

a:hover {
	text-decoration: underline;
}

header a {
	text-decoration: none !important;
}

.e_arrow, .i_arrow, .id_arrow {
	display: none;
	position: absolute;
	font-size: 12px;
	right: -7px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a:hover .e_arrow, a:hover .i_arrow, a:hover .id_arrow {
	display: inline-block;
	text-decoration: none;
}
.e_arrow, .id_arrow {
	top: -12px;
}
.i_arrow {
	bottom: -14px;
}


a[data-tip] {
	cursor: pointer;
	font-size: 14px;
	z-index: 5;
	vertical-align: super;
	line-height: 1px;
}

a[data-tip]::before {
	content: attr(data-tip);  
	 
	text-shadow: none;
	font-size: 12px;
	position:absolute;
	z-index: 5;
	border-radius: 6px;
	right: -40px;
	top:24px;
	display: none;
	border: 1px solid rgb(140,140,125);
	background: rgb(44,58,59);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);	
	color:rgba(255,255,255,0.9);
	padding:0px 8px;
	line-height: 24px;
	height: auto;
	white-space: pre;
	
}
	 
a[data-tip]:hover::before {
	display: block;
}


#Ticking a span.sup, #Ticking a span.sub {
	margin: 0 -10px 0 0;
}
#Ticking column, #Ticking column * {
	display: inline-block;
}

#Ticking column {
	width: auto;
}

img {
	border: 0;
}
droplabel {
	color: rgb(184,70,0);
}
specs, .specs, date {
	color: rgb(109,41,0);
}



/* Section */

section {
	margin: 30px 0 0 0;
}

section section{
	padding: 1%;
}

section section section {
	background: none;
	margin: 13px 0 0 0;
	padding: 0;
}



/* Notation */


date {
	margin-bottom: 20px;
}

unit {
	padding: 0 0 0 0;
	text-align: center;
}
number {
	color: rgb(212,81,0);
	font-size: 20px;
	padding: 0 7px 4px 7px;
}

unit specs {
	color: rgb(109,41,0);
	font-size: 15px;
	text-transform: uppercase;
}


@media (max-width: 767px) {
	number {
		font-size: 17px;
		padding: 0 2px 4px 2px;
	}
	unit specs {
		font-size: 10px;
	}
}


/* Dropdowns */
dropdown {
	display: none;
}
droplabel {
	cursor: pointer;
}


/* Images */
img { border: 0; display: inline-block; }
column.footer ib a { border: 0; }


/* Responsive and Repositioning */
.no999 {
	display: block;
}
@media (max-width: 999px) {
	.no999 {
		display: none;
	}
}
.no767 {
	display: block;
}
.no767inline {
	display: inline;
}
.no768, .no768inline {
	display: none;
}
@media (max-width: 767px) {
	column {
		width: 96%;
		margin: 2%;
	}
	.no767, .no767inline {
		display: none;
	}
	.no768 {
		display: block;
	}
	.no768inline {
		display: inline;
	}
}


.ticking {
	display: inline-block;
	font-family: monospace;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.specs {
	display: inline-block;
	white-space: nowrap;
	text-align: left;
}

#three_ticks > span {
	display: inline-block;
}
#three_ticks > span.big {
	margin: 0 30px;
}

#three_ticks > span.r, #three_ticks > br {
	display: none;
}

@media (max-width: 860px) {
	#three_ticks > span.r {
		display: inline-block;
	}
	#three_ticks > span.l {
		display: none;
	}
	#three_ticks > br {
		display: initial;
	}
}


[data-move] {
	cursor:pointer;
}

/* Nav */


#Introduction {
	margin: 50px 0 0 0;
	overflow: hidden;
	text-align: center;
	ove
}

#Introduction > div {
	max-width: 96%;
	margin: 2%;
	display: inline-block;
}
	


#answer {
	color: red;
}


nav {
	text-align: left;
}

navitem > navitems {
	display: block;
}
navitem {
	display: block;
	margin-left: 6px;
	padding-left: 14px;
	border-left: 1px solid rgb(78,47,28);
	white-space: nowrap;
}
nav > navitems > navitem {
	border-left: 0;
}

navitem > navitems {
	display: none;
}

navarrow {
	display: inline-block;
	color: rgb(78,47,28);
	cursor: pointer;
	vertical-align: baseline;
	-webkit-transition: -webkit-transform .3s;
	-moz-transition:    -moz-transform .3s;
	-o-transition:      -o-transform .3s;
	-ms-transition:     -ms-transform .3s;
	transition:         transform .3s;
}


/* date conversions */

cdate, cdate > div, .drop_container {
	display: inline-block;
	vertical-align: top;
}

cdate input, cdate select {
	color: rgb(0,0,0);
	display: inline-block;
	border: 1px solid rgb(78,47,28);
	text-align: center;
}


cdate.half {
	display: inline-block;
	padding: 8px 1% 6px 1%;
	vertical-align: top;
}


.drop_container, cdatebutton {
	background: rgba(236,221,191,0.912);
	border-radius: 2% 2% 2% 2% / 100% 100% 100% 100%;
	padding: 10px 15px;
	margin: 0 2% 2% 0;
}

@media (max-width: 767px) {
	cdate.half {
		width: 93%;
	}
}

cdatebutton {
	display: block;
	color: #fff;	
	float: left;
	z-index: 4;
	line-height: 140%;
}

cdatebutton a {
	border: 1px solid transparent;
	padding: 0 7px;
	border-radius: 8px;
}

cdatebutton a.selected {
	background: rgba(255,255,255,0.5);
	border: 1px solid rgba(78,47,28,0.3);
}

label {
	color: rgb(109,41,0);
}

#Comments ib {
	vertical-align: top;
}
#Comments textarea {
	min-width: 60%;
}





/* Comments */
#comment_form_header {
	margin: 40px 0 0 0;
}
#author_name, #author_email {
	width: 200px;
}
#captcha0, #captcha1 {
	width: 20px;
}

.comment1 {
	margin: 0 auto;

}
.comment2 {
	margin: 11px;
	display: inline-block;
	border: 1px solid rgba(78,47,28,0.35);
	border-radius: 4px;
	background: rgba(78,47,28,0.1);

}
.comment_heading {
	padding: 0 4px;
	background: rgba(78,47,28,0.075);
	border-bottom: 1px solid rgba(78,47,28,0.3);
}
.comment_body {
	padding: 6px;
	text-align: left;
}
.comment_reply {
	display: inline-block;
	border: 1px solid rgba(255,255,255,.35);
	background: rgba(255,255,255,.2);
	border-radius: 20px / 14px;
	line-height: 14px;
	padding: 4px 6px 7px 5px;
	cursor: pointer;
}

#post_a_comment {
	display: none;
}

.replies {
	position: relative;
	text-align: center;
	margin: 5px;
}
.comment_button {
	margin: 11px;
	padding: 2px 10px;
	display: inline-block;
	border: 1px solid rgba(78,47,28,0.75);
	border-radius:  60px / 20px;
	color: rgb(18,77,77);
	line-height: 100%;
}
.comment_button:hover {
	border: 1px solid rgba(78,47,28,0.3);
	color: rgb(30,128,128);
}

#comments_show_more {
	cursor: pointer;
}
